#root {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  margin: 0 auto;
}

.chrono{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;;
  background-color: orange;
  padding: .5rem;
}

.chrono span:nth-child(2){
  font-size: 2.1rem;
  font-weight:bolder;
}